In [26]:
# Automated EDA

# Pandas Profiling

from ydata_profiling import ProfileReport

import seaborn as sns

In [27]:
df=sns.load_dataset('tips')

In [28]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
profile=ProfileReport(df,explorative=True,dark_mode=True)

In [32]:
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset:  64%|██████▍   | 9/14 [00:00<00:00,  6.68it/s, Calculate auto correlation]  C:\Users\sumie\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Sun'')
  warnings.warn(
Summarize dataset: 100%|██████████| 25/25 [00:03<00:00,  7.81it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.81s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.82s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 123.25it/s]